SYMBOLS {
    VIA_PORTB: type = export, value = $6000;
    VIA_PORTA: type = export, value = $6001;
    VIA_DDRB:  type = export, value = $6002;
    VIA_DDRA:  type = export, value = $6003;
    VIA_PCR: type = export, value = $600c;
    VIA_T1CL:  type = export, value = $6004;
    VIA_T1CH:  type = export, value = $6005;
    VIA_IFR: type = export, value = $600d;
    VIA_IER: type = export, value = $600e;
}

MEMORY {
    # Zero Page: 256 bytes
    ZP:     start = $0000, size = $0100, type = rw, define = yes;
    
    # RAM: $0200 to $5FFF (avoiding the stack at $0100)
    RAM:    start = $0200, size = $5E00, type = rw, define = yes;
    
    # ROM: $8000 to $FFFF (32kB)
    ROM:    start = $8000, size = $8000, type = ro, fill = yes, file = %O;
}

SEGMENTS {
    ZEROPAGE: load = ZP,  type = zp;
    DATA:     load = ROM, run = RAM, type = rw, define = yes;
    RODATA:   load = ROM, type = ro;
    CODE:     load = ROM, type = ro;
    VECTORS:  load = ROM, type = ro,  start = $FFFA;
}
